<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Dictionary Display</title>
<link rel="stylesheet" href="../../util/html/dict_template.css">
</head>
<body>
<div class="dict-content">
    {{ financials }}
    <div id="relations-section" class="relations-section">
        <hr>
        <div id="relations-content"></div>
        <hr>
    </div>
    {{ qualitative }}
    {{ news }}
</div>
<script src="../../util/html/dict_template.js"></script>
</body> 
<footer>
    <div class="footer-title">Quarterly Performances</div>
    <div class="footer-copy">© {{ year }} · All rights reserved.</div>
</footer>
</html>